ColumnLimit: 80
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: false
    AfterControlStatement: false
    AfterEnum: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeElse: false
    IndentBraces: false

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: false

BinPackArguments: true
BinPackLongBracedList: false
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Right

IncludeBlocks: Preserve
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true

ForEachMacros:
    - list_for_each
    - list_for_each_entry
    - list_for_each_entry_safe
    - hlist_for_each
    - hlist_for_each_entry
    - hlist_for_each_entry_safe

IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: false
